.rack_console
  .eval
    - evaluate_expr!
    %form.expr{action: url_root("/"), method: "post"}
      %div
        %textarea.expr{name: 'expr'}=h @expr
      %div
        %input{ type: 'submit', value: 'Evaluate' }
    .result
      - if @result_evaled && @result_ok
        %dl
          %dt Class:
          %dd.class= format_module(@result.class)
          %dt Value:
          %dd.value
            %pre.result.literal= h safe_format(@result)
          %dt Extended By:
          %dd.extended_by
            %table
              - (@result_extended || [ ]).each do | mod |
                %tr
                  %td= format_module(mod)
          %dt $stdout:
          %dd.io.stdout
            - out = (@stdout && @stdout.string.force_encoding('UTF-8'))
            - unless out.blank?
              %pre.result= h out
            - else
              %span.none NONE
          %dt $stderr:
          %dd.io.stderr
            - out = (@stderr && @stderr.string.force_encoding('UTF-8'))
            - unless out.blank?
              %pre.result= h out
            - else
              %span.none NONE

  =haml :'console/error', locals: locals

